version: "3.9"

services:
  ml_api:
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "8000:8000"

    environment:
      MODEL_PATH: "/app/models/my_classifier_model.h5"
      LOG_LEVEL: "INFO"

    volumes:
      - ./models:/app/models

    restart: on-failure
